@import "tailwindcss";
@plugin "daisyui";





/* common color */


.common_bg_color_1 {
    background-color: #292865;
}

.common_bg_color_2 {
    background-color: #FFFCF4;
}

/*  */
.navbar ul li {
    margin-left: 15px;
    }
 ul li a.active {
background-color: #292865;
color: white;
}

.sign_up input{
    margin: 15px 0;
}
.teach_on_apply_form input {
    margin : 15px 0;
    width: 100%;
}
.teach_on_apply_form select {

    width: 100%;
}

.add_class_form input {
    margin : 15px 0;
    width: 100%;
}