@import "tailwindcss";
@plugin "daisyui";





/* common color */



.common_bg_color_1 {
    background-color: #292865;
}

.common_bg_color_2 {
    background-color: #FFFCF4;
}

/*  */
.navbar ul li {
    margin-left: 15px;
    }
    .navbar ul li a {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 500;
        }


 ul li a.active {
background-color: #292865;
color: white;
}

.sign_up input{
    margin: 15px 0;
}
.teach_on_apply_form input {
    margin : 15px 0;
    width: 100%;
}
.teach_on_apply_form select {

    width: 100%;
}

.add_class_form input {
    margin : 15px 0;
    width: 100%;
}

/* class details */

.class_details .class_cnt h1{
    margin : 10px 0;
}

/* partners */

.Our_partners .description p{
margin: 10px;
 color : rgba(0, 0, 0, 0.596)
}
.overview_cards .card-body {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.overview_container .right_side  {
     
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}


.inspire_teacher .inspire_img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.inspire_teacher .inspire_cnt {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}


.exclusive_cards .card {
     height:  330px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     text-align: center;
     text-transform: capitalize;
     font-weight: 600;

}
.exclusive_cards  .logo p {
    font-size: 30px;
        margin: 10px 0;
        transform: translateX(40%);
        color : #292865;
}
.exclusive_cards  .desc {
    font-size : 14px ;
    color : rgba(0, 0, 0, 0.719);
    line-height: 23px;
}