/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";




/*! common section starts */

*{
    font-family: "Outfit", sans-serif;
  

    
}



/* css color variable */

/* :root {
--Primary: #121212 ;
--Secondary: #F4B400 ;
--Background: #FFFFFF ;
--Text: #333333 ;
--Accent: #F05454 ;
} */
:root {
--Primary: #39B8AD ;
--Secondary: #EFF2F9 ;

--Text: #333333 ;
--Accent: #F05454 ;
}

.primary_bg_color {
    background-color: var(--Primary);
}
.secondary_bg_color {
    background-color: var(--Secondary);
}

.primary_text_color {
color: var(--Primary);
}
.secondary_text_color {
    color: var(--Text);
}

.accent_bg_color {
    background-color: var(--Accent);
}

.warning{
    color: var(--Accent);
}


.section_heading {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color:var(--Text)
}
.btn_primary {
    @apply btn btn-outline btn-accent font-semibold capitalize 
}



.btn_secondary {
   @apply btn btn-accent font-semibold capitalize text-white
}

.animate_title {
    background-color: white;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.hover_effect_1 {
    @apply w-full block bg-white capitalize p-4 hover:bg-[#39B8AD] hover:text-white  transition duration-500
}
/*! common section ends */

/* navigation section  */

 .navbar {
    background-color: white;
           /* background-color: var(--Primary); */
           box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        
          z-index: 10;
 }

.navbar ul li {
    margin-left: 15px;
 
    }
    .navbar ul li a {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;

        }

        .navbar li a {
            /* color : white; */
            color: var(--Text);
                font-weight: bold;
                transition: ease;
        }

        
     
    



.avatar img {
    width: 32px;
    height: 32px;
}

.navbar .dropdown_cnt{
   width: 220px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      z-index: 50;
  
}

/* cover image */

.cover__img{
    /* background-color: rgba(0, 0, 0, 0.397); */
background-color: #F4E1D2;
    background-blend-mode:  multiply;

}


/* banner section */
 /* .banner_cnt h1 {
    line-height: 60px;
} */



.banner_img img {
    width: 400px;
    height: 450px;
     border-radius: 30px;
}

.banner_img .animate_card {
    width: 180px;
     background-color: white;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


     border-radius: 10px;
     font-size: 18px;
     text-transform: capitalize;
     font-weight: 700;
}

.zigzag-line {
    width: 100%;
    height: 10px;
    background: linear-gradient(
      -45deg,
      transparent 75%,
      #39B8AD 75%,
      #39B8AD 85%,
      transparent 85%
    ),
    linear-gradient(
      45deg,
      transparent 75%,
      #39B8AD 75%,
      #39B8AD 85%,
      transparent 85%
    );
    background-size: 20px 20px;
  }
  


/* faculty section */

.faculty_card {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .3s all;
}
.faculty_card:hover{
    background-color: var(--Primary);
    color: white;
}

/* .swiper-button-next {
  background-color: red;
} */

/* statistics section */

.statistics_cards .card {
    background-color: white;
    color: var(--Text);
    text-transform: capitalize;
    text-align: center;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.statistics_cards .card h1 {
    font-size: 45px;
    font-weight: 600;
}
.statistics_cards .card p {
   font-size: 20px;
   color: gray;
}

.statistics_img_card {
  
    background-color: white;
    color: var(--Text);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 35px 18px;
border-radius: 20px;
}
 .sign_up_input{
    width: 100%;
    margin: 12px 0;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 12px;
}
.teach_on_apply_form input {
    margin : 15px 0;
    width: 100%;
}
.teach_on_apply_form select {

    width: 100%;
}



/* class details */

/* .class_details .class_cnt h1{
    margin : 10px 0;
} */

.classs_details_container .about_heading {
     font-size: 25px;
     font-weight: 600;
     margin: 30px 0;
     color: var(--Text);
     text-transform: capitalize;
}

.classs_details_container p {
    color : #666666 ;
    text-transform: capitalize;
}

/* partners */

.Our_partners .description p{
margin: 10px;
 color : rgba(0, 0, 0, 0.596)
}
.overview_cards .card-body {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 100%;
}
.overview_container .right_side  {
     
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}


.inspire_teacher .inspire_img {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.inspire_teacher .inspire_cnt {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}


.exclusive_cards .card {
     height:  330px;
     box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
     text-align: center;
     text-transform: capitalize;
     font-weight: 600;

}
.exclusive_cards  .logo{
  
    overflow: hidden;
}
.exclusive_cards  .logo p {

    font-size: 30px;
        margin: 10px 0;
        transform: translateX(40%);
        color : #292865;
}
.exclusive_cards  .desc {
    font-size : 14px ;
    color : rgba(0, 0, 0, 0.719);
    line-height: 23px;
}

.thumb .h-\[500px\] {
    width: 100px;
height: 70px;
}

.dashboard_menu .text-base-content {
    background-color: #292865;
    color: white;
    font-weight: 600;
    height: 100vh;
}

.text-base-content li a {
     text-transform: capitalize;
}

.text-base-content  a.active {
    background-color: white;
    color: black;
}


 .rr--box{
    --rr--stroke-off-color : #39B8AD;
    --rr--fill-on-color: #39B8AD
}


/* .populer_course_card .card:hover {
    transform: scale(1.1);
    transition: .5s  ease-out;
} */

.class_card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


/* max-width: 200px;
--rr--fill-on-color: #ffb23f;
--rr--fill-off-color: #fff7ed;
--rr--stroke-on-color: #e17b21;
--rr--stroke-off-color: #eda76a; */

/* add class section */
.add_class_form input {
    margin : 10px 0 15px 0;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera এর জন্য */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox এর জন্য */
input[type="number"] {
  -moz-appearance: textfield;
}



